
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: "Arial";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aqua;
}

.wrapper {
    width: 500px;
    background-color: blue;
    color: white;

}

.wrapper h1 {
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.wrapper input-box {
    width: 100%;
    height: 50px;
    background-color: salmon;
    margin: 30px;
}

.input-box input{
    width: 100%;
    height: 25px;
    background: transparent;
    border: none;
    outline: black;
    border-radius: 80px;
}
